* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* shared css */

.display-flex {
    display: flex;
}

nav,
.banner-section {
    max-width: 1200px;
    margin: auto;
}

.color-dark1 {
    color: #131313;
}

.color-dark2 {
    color: #424242;
}

.color-dark3 {
    color: #727272;
}
.btn {
    background-color: #FF900E;
    color: #ffffff;
    padding: 15px 22px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

p {
    color: #727272;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

/* header section */
header {
    background-color: #FF900E15;
}
/* nav */
nav {
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    gap: 40px;

}

nav ul a {
    text-decoration: none;

}

/* end nav */
/* start banner section */
.banner-section {
    margin: 70px;
}

.banner-section .banner-text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-section .banner-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.banner-section .banner-text P {
    margin-bottom: 10px;
}
.banner-section .banner-image img {
    width: 100%;
    vertical-align: text-bottom;
}

/* main section */
/* quick section */
.quick-section {
    display: flex;
    max-width: 1050px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.quick-section .quick-image {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;

}
.quick-section .quick-image img {
    width: 100%;
}
.quick-section .quick-text h1 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.quick-section .quick-text h1 .feature {
    color: #FF900E;
}
.quick-section .quick-text  p {
    margin-bottom: 15px;
}





/* Responsive design */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }
    nav h1 {
    font-size: 1.8rem;

}
    .banner-section {
    margin: 30px;
}
    .banner-section .banner-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.banner-section .banner-text P {
    font-size: 0.9rem;
    line-height: 1.1rem;
}
.quick-section {
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}
.quick-section .quick-image {
    gap: 15px;
    margin: 0 3%;
}
.quick-section .quick-text {
    text-align: center;
}


}